@* 最上面的版面配置 *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Articles> Articles = ViewBag.Articles;  //將Controller當中控制此頁面的function，之中的Articles放入於此，用於資料表的資料迴圈抓取
}

@using Farmer_Project.Models.Entity
@model List<Articles>

<!-- nav section -->

<section class="nav_section">
    <div class="container">
        <div class="custom_nav2">
            <nav class="navbar navbar-expand custom_nav-container ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex  flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/index">全部</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/testimonial">主題相關</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/MyArticle">我的文章</a>
                            </li>
                            <li class="nav-item">
                                <img src="~/images/account.jfif" alt="">
                            </li>
                            <li class="dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" color="white">
                                    <font color="white">@TempData["Account"]<span class="sr-only">(current)</span></font>
                                </a>
                                <ul id="SiteDirect" class="dropdown-menu" aria-labelledby="MainTopicAD">
                                    <li><a href="/Login/MemberEdit">@TempData["isLogin1"]</a></li>
                                    <li><a href="/Home/Login">@TempData["isLogin2"]</a></li>
                                    <li><a href="/Manage/Logout">@TempData["isLogin3"]</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<!-- end nav section -->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 style="text-align:center;vertical-align:middle;"> 編輯文章 </h2>
            <hr />

            <form method="post" action="@Url.Action("Update", "Home")">   @* 這裡可以將以下的資料上報到HomeController的Update *@
                <div class="rounded-3 bg-light p-3 shadow mb-3">
                    <input type="hidden" name="FarmersId" value="" />
                    @foreach (var author in Articles)
                    {
                        <div class="mb-3">
                            <label for="Articles.ArticleTitle" class="form-label">文章號碼</label>
                            <input type="text" class="form-control" name="Number" value="@author.Number" required readonly>
                        </div>
                        <!-- 文章標題 -->
                        <div class="mb-3">
                            <label for="Articles.ArticleTitle" class="form-label">文章標題</label>
                            <input type="text" class="form-control" name="Article" value="@author.Article">
                        </div>

                        <!-- 文章類型 -->
                        <div class="mb-3">
                            <label for="Articles.ArticleTitle" class="form-label">文章類型</label>
                            <input type="text" class="form-control" name="ArticleType" value="@author.ArticleType">
                        </div>
                        @* <div class="mb-3">
                        <label for="Articles.ArticleType" class="form-label">文章類型</label>
                        <select class="form-select" name="ArticleType">
                            <option value="" selected>-- 請選擇 --</option>
                            <option value="討論">討論</option>
                            <option value="閒聊">閒聊</option>
                        </select>
                    </div> *@

                        <!-- 文章圖片 -->
                        <div class="mb-3">
                            <label for="Articles.ArticleImage" class="form-label">文章圖片</label>
                            <input type="file" class="form-control" name="ArticleImagePath" value="@author.ArticleImagePath">
                        </div>

                        <!-- 文章簡介 -->
                        <div class="mb-3">
                            <label for="Articles.ArticleSummary" class="form-label">文章簡介</label>
                            <textarea class="form-control" name="ArticleSummary" rows="8">@author.ArticleSummary</textarea>
                        </div>
                        <!-- 私人或公開 -->
                        <div class="mb-3">
                            <label for="Articles.ArticleSummary" class="form-label">文章狀態</label>
                            <select class="form-select" name="IsPublished" value="@author.IsPublished" required>
                                <option value="" selected>-- 請選擇 --</option>
                                <option value="Public">Public</option>
                                <option value="Private">Private</option>
                            </select>
                            <div>
                                <span style="color:red">@ViewBag.Msg1</span>
                            </div>
                            @* <input type="text" class="form-control" name="IsPublished" value="@author.IsPublished"> *@
                        </div>
                    }
                    
                </div>
                <hr>

                <br />

                <button type="submit" class="btn btn-primary" >更新</button>

            </form>

        </div>
    </div>
</div>






