@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Articles> Articles = ViewBag.Articles;  //將Controller當中控制此頁面的function，之中的Articles放入於此，用於資料表的資料迴圈抓取
}
@using Farmer_Project.Models.Entity
@model List<Articles>

<!-- nav section -->
<link href="/css/banner.css" rel="stylesheet" />
<section class="nav_section">
    <div class="container">
        <div class="custom_nav2">
            <nav class="navbar navbar-expand custom_nav-container ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex  flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/index">全部</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/testimonial">主題相關</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/MyArticle">我的文章</a>
                            </li>
                            <li class="nav-item">
                                <img src="~/images/account.jfif" alt="">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@TempData["Account_Ref"]">@TempData["Account"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<!-- end nav section -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg">
                @foreach (var author in Articles)
                {
                    <div class="mb-4" style="text-align:center;vertical-align:middle;">
                        <a href="#" class="h1 display-5" >@author.Article</a>
                    </div>
                    <div class="position-relative rounded overflow-hidden mb-3">
                        <img src="@author.ArticleImagePath" class="img-zoomin img-fluid rounded w-100" alt="">
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="text-dark link-hover me-3"><i class="fa fa-clock"></i> 06 minute read</a>
                        <a href="#" class="text-dark link-hover me-3"><i class="fa fa-eye"></i> 3.5k Views</a>
                        <a href="#" class="text-dark link-hover me-3"><i class="fa fa-comment-dots"></i> 05 Comment</a>
                        <a href="#" class="text-dark link-hover"><i class="fa fa-arrow-up"></i> 1.5k Share</a>
                    </div>
                    <p class="my-5 h3">
                        @Html.Raw(author.ArticleSummary.Replace("\r\n", "<br />").Replace("\n", "<br />"))
                    </p>
                }
                
            </div>
        </div>
    </div>
</div>



